<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.1/dist/semantic.min.css"
          data-filtered="filtered">
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.1/dist/semantic.min.js"></script>
    <style type="text/css">


    </style>
    <script>
        $(document)
            .ready(function() {
                $('.ui.form')
                    .form({
                        fields: {
                            phone: {
                                identifier  : 'phone',
                                rules: [
                                    {
                                        type   : 'empty',
                                        prompt : '请输入您的手机号码'
                                    },
                                    {
                                        type   : 'regExp',
                                        value: /^(13[0-9]|14[579]|15[0-3,5-9]|16[6]|17[0135678]|18[0-9]|19[89])\d{8}$/,
                                        prompt : '请输入合法的手机号码'
                                    }
                                ]
                            },
                            password: {
                                identifier  : 'password',
                                rules: [
                                    {
                                        type   : 'empty',
                                        prompt : '请输入您的密码'
                                    },
                                    {
                                        type   : 'length[6]',
                                        prompt : '密码或手机验证码不得小于6位'
                                    }
                                ]
                            }
                        }
                    })
                ;
            })
        ;
    </script>
</head>

<body>
<div class="ui very padded container segment" id="login-container" style="margin-top: 5rem">
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal image header">
                <img src="https://semantic-ui.com/images/logo.png" class="image">
                <div class="content">
                    登录&注册
                </div>
            </h2>
            <form class="ui large form" style="margin-top: 2rem;" action="/login" method="post">
                <div class="ui stacked segment">
                    <div class="field" style="margin-top: 2rem">
                        <div class="ui left icon input" id="phoneField">
                            <i class="user icon"></i>
                            <input type="text" id="phone" name="phone" placeholder="手机号">
                            <div class="ui button teal sendSMS">发送短信到手机</div>
                        </div>
                    </div>
                    <div class="field" style="margin-top: 2rem">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="手机对应密码或者手机验证码">
                        </div>
                    </div>
                    <div class="ui fluid large teal submit button" style="margin-top: 2rem; margin-bottom: 1rem">登录</div>
                </div>
                <div class="ui error message" style="margin-top: 2rem"></div>
                <div class="ui mini negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}">用户名和密码错误</div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.sendSMS').click(function () {
            //var className = $(this).attr('class')
            var button = $(this)
            var phone_number = $('#phone').val();
            var patt=new RegExp(/^(13[0-9]|14[579]|15[0-3,5-9]|16[6]|17[0135678]|18[0-9]|19[89])\d{8}$/);
            var result = patt.test(phone_number)

            //验证手机号格式确实正确
            if(result){
                $(this).addClass('loading disabled');
                $('#phoneField').addClass('disabled');
                $.ajax({
                    url : '/receiverSMS',
                    type: "post",
                    data : {
                        phone : phone_number
                    },
                    success: function (data ,textStatus, jqXHR)
                        {
                            if(textStatus == 'success'){
                                //$('#SMS_send_success').css('display','block')
                                $('#login-container').append("<div class=\"ui success message\" id=\"SMS_send_success\">\n" +
                                    "        <i class=\"close icon\" onclick=\"icon_delete(this)\"></i>\n" +
                                    "        <div class=\"header\">\n" +
                                    "            短信发送成功.\n" +
                                    "        </div>\n" +
                                    "        <p>短信验证码已经发送到手机" + phone_number + "，请注意查收</p>\n" +
                                    "    </div>")
                            }
                            button.removeClass('loading disabled');
                            $('#phoneField').removeClass('disabled');
                        },

                })
            }
            else {
                $('#login-container').append("<div class=\"ui negative message\" id=\"SMS_send_success\">\n" +
                    "        <i class=\"close icon\" onclick=\"icon_delete(this)\"></i>\n" +
                    "        <div class=\"header\">\n" +
                    "            手机号格式错误.\n" +
                    "        </div>\n" +
                    "        <p>请注意手机号格式格式</p>\n" +
                    "    </div>")
            }
            //window.location.href = '/phoneToPrice?keyword=' + search_value
        })
    })

    function icon_delete(value) {
        $(value).closest('.message')
            .transition('fade')
    }
</script>
</body>
</html>